html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.page-title {
  align-self: end;
}

.logo {
  width: 100px;
  height: 100px;
}

footer {
  background-color: cadetblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main {
  width: 100%;
  display: grid;
  column-gap: 130px;
  row-gap: 60px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 500px 500px;
  grid-auto-flow: row;
  margin-top: 60px;
  margin-bottom: 60px;
}

.movie-item {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}

.movie-item img.flyer {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border: 3px solid goldenrod;
}

.title img.like-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title p {
  font-size: 14px;
  margin: 0;
  color: #444;
  width: 80%;
}

.movie-footer {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 10px;
}

button.comment-btn {
  width: 80%;
  background-color: #fff;
  padding: 10px;
  align-self: center;
  border: 1px solid goldenrod;
  border-radius: 20px;
}

button.comment-btn:hover {
  width: 80%;
  color: white;
  background-color: darkgoldenrod;
  padding: 10px;
  align-self: center;
  border: 2px solid white;
  border-radius: 20px;
}

/*
.likes-tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
} */

.likes {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: black;
  padding: 0;
  margin: 0;
}
